<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Administrativo Junta Diaconal</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application' %>
    <%= stylesheet_link_tag    'site' %>
    
    

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">

     <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
        

        <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
          <% unless admin_signed_in?%>
            <li class="nav-item active">
              <%=link_to 'Entrar', new_admin_session_path, class:"nav-link"%>
            </li>
            <li class="nav-item">
              <%=link_to 'Cadastrar-se', new_admin_registration_path, class:"nav-link"%>
            </li> 
          <%else%>
            <li class="nav-item active">
              <%=link_to 'Administrativo', admins_backoffice_welcome_index_path, class:"nav-link"%>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%=current_admin.email%></a>
              <div class="dropdown-menu" aria-labelledby="dropdown01">
                <a class="dropdown-item">
                  <%=link_to  destroy_admin_session_path, method: :delete do%>
                     <i class="fa fa-sign-out fa-fw"></i> Sair
                  <%end%>
                </a>
                
                
              </div>
            </li> 
          <%end%>   
          </ul>
          
        </div>
      </nav>
      <br><br>
      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="text-center">
          
          <h1>Bem vindo a Junta Diaconal da Igreja<br>Presbiteriana de Votorantim</h1>
           
          
          <% unless admin_signed_in?%>
          
          
            <p>
              <%=link_to 'Entrar', new_admin_session_path, class:"btn btn-lg btn-success btn-block"%>
            </p><br>
            <h3>Ainda não se cadastrou?</h3>
            <p>
              <%=link_to 'Cadastre-se aqui', new_admin_registration_path, class:"btn btn-lg btn-secondary btn-block"%>
            </p><br> 
          <%else%>  
            <%=link_to admins_backoffice_welcome_index_path do %>
              <%=image_tag 'logo.png',style:"width:15em"%>
            <%end%>  
            <br><br>
            <p >Pois os que desempenharem bem o diaconato alcançam para si mesmos justa preeminência<br>e muita intrepidez na fé em Cristo Jesus. 1 Timóteo 3:13</p>
            <br>
            <p>
              <%=link_to 'Administrativo', admins_backoffice_welcome_index_path,  class:"btn btn-lg btn-success btn-block"%>
            </p>
            <p>
              <%=link_to 'Sair', destroy_admin_session_path, method: :delete,  class:"btn btn-lg btn-danger btn-block"%>
            </p>
          <%end%>  
         
        </div>    
      </div>

    </div> <!-- /container -->
    <footer class="text-center">
      Igreja Presbiteriana de Votorantim
    </footer>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'site' %>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <%if notice%>
        <script>
            $.bootstrapGrowl("<%=notice%>", {
                // ele: 'body', // which element to append to
                type: 'success', // (null, 'info', 'danger', 'success')
                // offset: {from: 'top', amount: 20}, // 'top', or 'bottom'
                align: 'right', // ('left', 'right', or 'center')
                // width: 250, // (integer, or 'auto')
                // delay: 4000, // Time while the message will be displayed. It's not equivalent to the *demo* timeOut!
                allow_dismiss: true, // If true then will display a cross to close the popup.
                stackup_spacing: 10 // spacing between consecutively stacked growls.
            });
        </script>
    <%end%>
  </body>
</html>
